  <!-- Content Wrapper. Contains page content -->
  <div>
    <!-- Content Header (Page header) -->
    <section class="content-header" style="margin-top: 1%;"></section>

    <!-- Main content -->
    <section class="content" style="    padding: 0px 4% !important; !important">
      <div class="row">
        <div class="col-lg-12 page-title" style="height: 2em; font-size: 22px;  ">
          Alerts          
        </div>

      </div><br>
      <div class="col-xs-12">
        <div class="box" style="padding:0px;left: -3%; width: 106%;">
          <!-- <div class="box-header">
            <h3 class="box-title">All Notifications</h3>
          </div> -->
          <!-- /.box-header -->

          <div class="box-body">
              <table id="entry-grid"  datatable="ng" width="100%" dt-options="dtOptions">
                  <thead class="table-blue-border">
                      <tr>
                          <th style="font-weight:100;width:15%;">Group</th>
                          <th style="font-weight:100;width:17%;">Value</th>
                          <th style="font-weight:100;width:15%;">Capability</th>
                          <th style="font-weight:100;width:15%;">CapabilityFilter</th>
                          <th style="font-weight:100;width:15%;">Timestamp</th>
                      </tr>
                  </thead>

                  <tbody id="alerts-datatable-body">
                      <img id="alerts-datatable-loader" src="../../img/Loading.gif" class="datatable-loader" style="left:35%" />
                      <label class="data-table-no-data" ng-show="alerts_loading_label">No data available</label>
                      <tr ng-repeat="alert in alertList | orderBy : 'Timestamp'">
                          <td style="width:15%;">{{alert.GroupName}}</td>
                          <td style="width:17%;overflow:hidden;">{{alert.Value}}</td>
                          <td style="width:15%;">{{alert.Capability}}</td>
                          <td style="width:15%;">{{alert.CapabilityFilter}}</td>
                          <td style="width:15%;">{{alert.Timestamp}}</td>
                      </tr>
                  </tbody>
              </table>

              <!--<table id="entry-grid" datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="table table-hover"></table>--> 
          </div>
          <!-- /.box-body -->

        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
